.addOrderform{
  max-width: 70%;
  margin: 30px auto;
}
.submitbtn{
  margin: 20px 20px 20px 0px;
  background-color: rgb(87, 0, 128);
  border: 1px solid rgb(87, 0, 128);
}
.alert-success,.alert-warning,.alert-danger {
  width : 50%;
}
input{
  max-width: 50%;
}
.alert-success button{
    position: absolute;
    left: 86%;
    color: rgb(252, 252, 252);
    background-color: green;
    z-index: MODAL_ZINDEX - 1;
}


